<div class="todos">
  <form (submit)="addTodo()">
    <div class="input-group mb-3">
      <input
        name="input"
        type="text"
        class="form-control"
        placeholder="Enter todo..."
        [(ngModel)]="value"
      />
      <div class="input-group-append">
        <input class="btn btn-outline-primary" value="Add todo" type="submit"/>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <td class="my-row">
          <span class="my-row__index">{{ i + 1 }}</span>
          <div class="my-row__content {{ todo.completed ? 'done' : ''}}" (click)="completeTodo(i)">{{ todo.content }}</div>
          <button class="btn btn-outline-primary" (click)="deleteTodo(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>